.pagination{
  grid-area: pagination;
  display: inline-flex;
  margin: 0 auto;
  background: transparent;
  border: 1px solid rgba(0,0,0, 0.4);
  padding: 10px 20px;
  border-radius: 8px;
}

.pagination > ul{
  display: flex;
  column-gap: 5px;
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.pagination > ul > li > a{
  background: #655166;
  border-radius: 50%;
  display: inline-flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  opacity: .6;
}

.pagination > ul > li > a:hover{
  opacity: 1;
  cursor: pointer;
}

.pagination > ul > li.selected > a{
  opacity: 1;
}